<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>

<body>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a routerLink="/addClient">Add Client</a></li>
        <li class="list-group-item"><a routerLink="/viewClient">View Client</a></li>
        <li class="list-group-item"><a routerLink="/addMeet">Add Meeting</a></li>
        <li class="list-group-item"><a routerLink="/viewMeet">View Meeting</a></li>
    </ul>


<div class="msg">
    <h3 name="h1">{{message}} </h3>
</div>

<h1>View Clients</h1>
<table id="view">
<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Address</th>
<th>Password</th>
<th>Repeat Password</th>
<th>Edit Action</th>
<th>Delete Action</th>
</tr>

<tr *ngFor="let client of clients">
<td>{{client.id}}</td>
<td>{{client.name}}</td>
<td>{{client.email}}</td>
<td>{{client.address}}</td>
<td>{{client.pswd}}</td>
<td>{{client.rpswd}}</td>

<td><button name="editclient" routerLink="/editClient/{{client.id}}">Edit</button></td>
<td><button name="deleteclient" (click)="deleteClient(client.id)">Delete</button></td>  
</tr>
</table>

</body>